doctype html
html
    head
        title #{title} - WEPPO Sklep
        link(rel='stylesheet', href='/static/stylesheets/style.css')
        link(rel="apple-touch-icon", sizes="180x180", href="/static/icons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/static/icons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/static/icons/favicon-16x16.png")
        link(rel="manifest", href="/site.webmanifest")
    body
        include ../components/navbar
        block content
        include ../components/footer
