nav
    .nav-left
        img(src="/static/icons/android-chrome-192x192.png" alt="logo")
    .nav-center 
        input#searchbar(type="text", name="search", placeholder="Znajdź produkt..." onkeyup="search_product()")
    .nav-right
        a(href="/", class="link")         Sklep
        a(href="/faq").link      FAQ
        a(href="/about").link    O nas
        a(href="/login").link    Zaloguj się
        a Koszyk
