nav
    .nav-left
        p Logo
    .nav-center 
        p (search bar)
    .nav-right
        a(href="/", class="link")         Sklep
        a(href="/faq").link      FAQ
        a(href="/about").link    O nas
        a(href="/login").link    Zaloguj się
        a Koszyk
