extends layouts/layout

block content
    .container.admin-container
        h2 Panel Administratora
        ul
            li: a(href="/admin/users") Lista użytkowników
            li: a(href="/admin/transactions") Lista transakcji
            li: a(href="/admin/products") Zarządzanie produktami