extends layouts/layout

block content
    .container 
        .login-container
            h1 Rejestracja
            form(action="/api/register" method="post")
                .form-group
                    input(type="email" name="email" required placeholder="Wpisz swój email")
                .form-group
                    input#password(type="password" name="password" required placeholder="Wpisz swoje hasło")
                button(type="submit") Zarejestruj się
