extends layouts/layout

block content
    h1 Rejestracja
    form(action="/api/register" method="post")
        div
            label(for="email") Email
            input(type="email" name="email" required)
        div
            label(for="password") Hasło
            input#password(type="password" name="password" required)
        button(type="submit") Zarejestruj się
