@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #1c3d5a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-left img {
    max-width: 50px;
    max-height: 50px;
    
}

.nav-center {
    flex: 1;
    margin-left: 50px;
}

#searchbar {
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    width: 50%;
    min-width: 200px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 4px 12px;
    transition: 0.3s;
    font-weight: bold;
}

nav a:hover {
    background-color: #274b6d;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #1c3d5a;
    color: white;
    font-size: 12px;
}


.container {
    flex-grow: 1;
    display: flex;
}

.login-container {
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid #1c3d5a;
    width: 40%;
    max-width: 400px;
    min-width: 200px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login h1 {
    margin-bottom: 20px;
    color: #1c3d5a;
}

.login input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: #1c3d5a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
}

.login button:hover {
    background-color: #274b6d;
}

.login .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.login input::placeholder {
    color: #aaa;
    font-size: 0.9rem;
}

.no-account {
    margin-top: 15px;
    font-size: 0.9rem;
}

.no-account a {
    color: #1c3d5a;
    font-weight: bold;
    text-decoration: none;
}

.no-account a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.products-container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.products-container h1 {
    font-size: 2rem;
    color: #1c3d5a;
    margin-bottom: 20px;
    padding: 10px 0 20px 0;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
}

.product {
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product h2 {
    font-size: 1.2rem;
    color: #1c3d5a;
    margin-bottom: 10px;
}

.product p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
}

.product form {
    margin-top: auto;
    width: 100%;
}

.product button {
    background-color: #1c3d5a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    width: 80%;
}

.product button:hover {
    background-color: #274b6d;
}


.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
}

.cart-items {
    flex: 2;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cart-summary {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-item h3 {
    font-size: 1.2rem;
    color: #1c3d5a;
}

.cart-summary h2, .cart-items h2 {
    color: #1c3d5a;
    margin-bottom: 10px;
}

.cart-summary h3 {
    font-size: 1.5rem;
    color: #274b6d;
    margin-top: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.item-info {
    flex: 1;
    text-align: left;
}

.item-details {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    min-width: 200px;
}

.item-details p {
    margin: 0;
    font-size: 1rem;
    color: #555;
}

.cart-item form {
    flex: 0;
}

button {
    background-color: #1c3d5a;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #274b6d;
}

.admin-container {

    margin: 50px auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.admin-container h2 {
    color: #1c3d5a;
    margin-bottom: 20px;
}

.admin-container ul {
    list-style: none;
    padding: 0;
}

.admin-container li {
    margin: 15px 0;
}

.admin-container a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #1c3d5a;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.order-container {
    display: flex;
    flex-direction: column;
}