@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #1c3d5a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-left img {
    max-width: 50px;
    max-height: 50px;
    
}

.nav-center {
    flex: 1;
    margin-left: 50px;
}

#searchbar {
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    width: 50%;
    min-width: 200px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 4px 12px;
    transition: 0.3s;
    font-weight: bold;
}

nav a:hover {
    background-color: #274b6d;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #1c3d5a;
    color: white;
    font-size: 12px;
}


.container {
    flex-grow: 1;
    display: flex;
}

.login-container {
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid #1c3d5a;
    width: 40%;
    max-width: 400px;
    min-width: 200px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login h1 {
    margin-bottom: 20px;
    color: #1c3d5a;
}

.login input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: #1c3d5a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
}

.login button:hover {
    background-color: #274b6d;
}

.login .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.login input::placeholder {
    color: #aaa;
    font-size: 0.9rem;
}

.no-account {
    margin-top: 15px;
    font-size: 0.9rem;
}

.no-account a {
    color: #1c3d5a;
    font-weight: bold;
    text-decoration: none;
}

.no-account a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-top: 10px;
}